@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>app用户管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="LoginUser.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="LoginUserTableToolbar" role="group">
                            @if(shiro.hasPermission("/loginUser/add")){
                                <!--<#button name="添加" icon="fa-plus" clickFun="LoginUser.openAddLoginUser()"/>-->
                            @}
                            @if(shiro.hasPermission("/loginUser/update")){
                                <!--<#button name="修改" icon="fa-edit" clickFun="LoginUser.openLoginUserDetail()" space="true"/>-->
                            @}
                            @if(shiro.hasPermission("/loginUser/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="LoginUser.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="LoginUserTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/loginUser/loginUser/loginUser.js"></script>
@}
