@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>产品标签管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ProductTag.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ProductTagTableToolbar" role="group">
                            @if(shiro.hasPermission("/productTag/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ProductTag.openAddProductTag()"/>
                            @}
                            @if(shiro.hasPermission("/productTag/update")){
                                <#button name="修改" icon="fa-edit" clickFun="ProductTag.openProductTagDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/productTag/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="ProductTag.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="ProductTagTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/productTag/productTag/productTag.js"></script>
@}
