@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" value="${item.id}" underline="true"/>
                            <#input id="tagId" name="留言板分类标签id" value="${item.tagId}" underline="true"/>
                            <#input id="content" name="留言内容" value="${item.content}" underline="true"/>
                            <#input id="companyName" name="公司名称" value="${item.companyName}" underline="true"/>
                            <#input id="phone" name="联系电话" value="${item.phone}" />
                </div>

                <div class="col-sm-6">
                            <#input id="city" name="市" value="${item.city}" underline="true"/>
                            <#input id="province" name="省" value="${item.province}" underline="true"/>
                            <#input id="Contact" name="联系人" value="${item.Contact}" underline="true"/>
                            <#input id="commitTime" name="提交时间" value="${item.commitTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MessageBoardInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MessageBoardInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/messageboard/messageBoard/messageBoard_info.js"></script>
@}
