<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.AboutCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.AboutCompany">
        <id column="id" property="id" />
        <result column="about_picture" property="aboutPicture" />
        <result column="about_company" property="aboutCompany" />
        <result column="contact_us" property="contactUs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, about_picture, about_company, contact_us
    </sql>

</mapper>
